<launch>

    <node name="image_republish_fpv" pkg="image_transport" type="republish" args="compressed raw">
        <remap from="in" to="/dji_osdk_ros/fpv_camera_images/compressed" />
        <remap from="out" to="/dji_osdk_ros/fpv_camera_images" />
    </node>

    <node name="image_republish_main" pkg="image_transport" type="republish" args="compressed raw">
        <remap from="in" to="/dji_osdk_ros/main_camera_images/compressed" />
        <remap from="out" to="/dji_osdk_ros/main_camera_images" />
    </node>

        
    <node pkg="gk_drone_pkg" type="yolo_to_tf" name="yolo_to_tf" output="screen">
        <remap from="msg_yolo" to="yolov7/yolov7"/>
        <remap from="image_row_yolo" to="yolov7/yolov7/visualization"/>
        <remap from="dji_osdk_ros/gps_position" to="dji_osdk_ros/gps_position"/>
        <remap from="dji_osdk_ros/gimbal_angle" to="dji_osdk_ros/gimbal_angle"/>
        <remap from="dji_osdk_ros/imu" to="dji_osdk_ros/imu"/>
        <param name="drone_tf" type="string" value="drone"/>
        <param name="camera_tf" type="string" value="camera"/>
        <param name="map_tf" type="string" value="nav"/>
        <param name="file_path" type="string" value="/media/data/drone_ws/src/gk_drone_pkg/script/test_10000.txt"/>
        <param name="origin_Lat"  value="43.28936"/>  <!-- latitude of drone start point  -->
        <param name="origin_Lon"  value="143.23502"/> <!-- longitude of drone start point-->
        <param name="thresh_humandetection" value="10.0"/>
        <param name="magin_high"  value="314.534"/>  <!-- error  [(elevation mesured by drone) - (start_high)] -->
        <param name="start_high"  value="438"/>  <!-- elevation of drone start point-->
        <param name="magnification"  value="1.0"/>
        <param name="write_file_path" type="string" value="/media/volume/test_yolo"/>
    </node>


    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find gk_drone_pkg)/rviz/view_rosbag.rviz" />

    <!--node pkg="gk_drone_pkg" type="google_drive_test.py" name="google_drive_test" output="screen">
    </node-->  

    
</launch>
